<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	
<body>

<h1>Edit Supply Item</h1>
</br>
<form action = '{{url_for('editSupplyItem', category_id = category_id, item_id = item.id) }}' method = 'post'>

<b> Name:</b>
	<input type = 'text' size = '30' name = 'name', placeholder = '{{item.name}}'>
<b> Price:</b>
	<input type = 'integer' size = '10' name = 'price' placeholder ='{{item.price}}'> </br> </br>
<b> Ingredients: </b>
	<input type = 'text' size = '100' name = 'ingredients' placeholder = '{{item.ingredients}}'> </br> </br>

	<input type = 'submit' value = 'Edit'>

</form>

</br>
<a href = '{{url_for('listSupplyItems', category_id = category_id)}}'> Cancel </a>

</body>

</html>